{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exit Screen</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <header>
        <h1>Thank You for Your Interest</h1>
    </header>
    
    <main>
        <section id="exit-screen">
            {% if content %}
                {{ content.content|safe }}
            {% else %}
            <h2>Thank You for Your Interest</h2>
            <p>
                Unfortunately, we are unable to enroll you at this time. Thank you for taking the time to learn more about the study.
            </p>
            <p>
                If you need any assistance or have any questions at any time, please contact Seungmin ("Seung") Lee (Principal Investigator) at <a href="mailto:svu23@iastate.edu">svu23@iastate.edu</a> or <a href="tel:517-898-0020">517-898-0020</a>.
            </p>
            <p>
                Sincerely,<br><br>
                The Confident Moves Research Team
            </p>
            {% endif %}
            <a href="/">Return to Home Page</a>
        </section>
    </main>

    <footer>
        <p>&copy;Confident Moves Intervention. All rights reserved.</p>
    </footer>
</body>
</html>
